# .gitignore file

# specific files
sandbox*.py
archive.py
/archive/*

# vscode files
/.vscode
/.vscode/*
/.vscode/settings.json
code/.vscode/settings.json

# conda environment
/envs/*

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Compiled Python files
*.pyc

# Jupyter notebook files
*.ipynb_checkpoints
